[Desktop Entry]
Type=Application
Name=OpenSUP
GenericName=PGS Subtitle Encoder
Comment=Turn BDN XML subtitles into Blu-ray compliant .sup / .pes streams
Exec=OpenSUP
Icon=opensup
Terminal=false
Categories=AudioVideo;Video;
Keywords=subtitle;sup;pgs;bluray;bdn;pes;
